<h1>hi <%= name %></h1>
<form action="/register" method="POST" class="reg-form">
  <div>
    <label for="email">信箱</label>
    <input type="email" id="email" name="email" required />
  </div>
  <div>
    <label for="password">密碼</label>
    <input type="password" id="password" name="password" required />
  </div>
  <ul class="choose_page">
    <li><button type="submit">登入</button></li>
    <li><a href="/register">註冊呼嚕</a></li>
  </ul>
</form>
